
@model Dashboard.Models.Categorymodel

<form method="post" asp-action="Listcategory">
    <button style="margin-left:800px" type="submit" class="btn btn-primary">Go to Category List</button>
    <div class="border p-3">
        <div class="form-group row">
                <h2 class="text-info pl-3">Add a Category</h2>
            </div>
     
        <div class="row">
            <div class="col-8">
                <div class="form-group row">

                    <div class="col-8">
                        <input asp-for="Name" class="form-control" placeholder="Title" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Submit" asp-action="Newcategory"/>
                        </div>
                        <div class="col">
                            <a asp-action="Newcategory" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
